.aboutMainContainer {
  width: 100%;
  min-height: calc(100vh - 75px);
  background-color: lavender;
  padding: 20px;
}
.aboutimgContainer img {
  width: 150px;
  height: 150px;
}

.aboutDescritionContainer {
  display: flex;
  align-items: center;
  gap: 10px;

  background-color: aliceblue;
  box-shadow: 4px 4px rgb(116, 142, 174);
}

.marginTop20 {
  margin-top: 10px;
}

.aboutİnfoscontainer {
  margin: 20px 0px;
  display: flex;
  gap: 20px;
  background-color: aliceblue;
  box-shadow: 4px 4px rgb(116, 142, 174);
}

.aboutİnfosLeft {
  width: 150px;
  min-height: 300px;
 
  
}

.aboutİnfosRight {
width: 100%;  
padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
 
}
.aboutİnfosLeftİtem {
  display: flex;
  gap: 8px;
  padding: 10px 10px;
  align-items: center;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #cccc ;
}

.aboutİnfosLeftİtem span {
  font-size: 15px;
}

.projectCardMainContainer {
  flex: 1;
  display: flex;
  gap: 20px;
 

}

.projectCartContainer {
  border: 1px solid;
  width: 200px;
  background-color: rgb(202, 215, 244);
  border-radius: 5px;
}
.projectCartContainerimg img {
  width: 100%;
  height: 100%;
}
.projectCartContainerTitle {
  padding: 15px;
  text-align: center;
}

.projectCartContainerText {
  padding: 10px;
}

.projectCartContainerLnik {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
.projectCartContainerLnik a {
  text-decoration: none;
  color: black;
  border: 1px solid;
  padding: 5px 5px;
  transition: all 0.2s linear;
}
.projectCartContainerLnik a:hover {
  background-color: rgb(58, 102, 184);
  color: #fff;
}
